extends base.pug
block content
  h3 #{errorMessage}
  form( method="POST")
    input(type="text" name="email" required placeholder="email" value=`${user.email}`)
    input(type="text" name="username" required placeholder="username" value=`${user.username}`)
    input(type="text" name="password" required placeholder="password" value=`${user.password}`)
    input(type="text" name="confirmPwd" required placeholder="confirm password" value=`${user.confirmPwd}`)
    input(type="text" name="name" required placeholder="name" value=`${user.name}`)
    input(type="text" name="location" placeholder="location" value=`${user.location}`)
    input(type="submit")