extends base.pug
block content
  h3 #{errorMessage}
  form( method="POST")
    input(type="text" name="email" required placeholder="email" value=(user.email) ? `${user.email}` : "")
    input(type="text" name="username" required placeholder="username" value=(user.username) ? `${user.username}` : "")
    input(type="password" name="password" required placeholder="password" value=(user.password) ? `${user.password}` : "")
    input(type="password" name="confirmPwd" required placeholder="confirm password" value=(user.confirmPwd) ? `${user.confirmPwd}` : "")
    input(type="text" name="name" required placeholder="name" value=(user.name) ? `${user.name}` : "")
    input(type="text" name="location" placeholder="location" value=(user.location) ? `${user.location}` : "")
    input(type="submit")